# Bỏ qua thư mục thư viện (rất nặng, không nên commit)
node_modules/
venv/

# Bỏ qua các file chứa mật khẩu, mã bí mật
.env

# Bỏ qua các file sinh ra khi build hoặc chạy ứng dụng
dist/
build/
*.log

# Bỏ qua file của hệ điều hành
.DS_Store
Thumbs.db
